@media (min-width: 640px) {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

@media (min-width: 1536px) {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

@media (min-width: 640px) {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

.content-area{
  height: 0.625rem;
}