@media screen(sm) {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

@media screen(2xl) {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

@screen sm {
  .rotate-0 {
    transform: rotate(0deg);
  }
}

.content-area{
    height: theme('spacing[2.5]');
}